* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
   height: 100%; 
}

body {
    background-color: rgb(220, 235, 206);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(90, 255, 255);
    padding: 30px;
    height: 140px;
}

img {
    border: 2px solid black;
    width: 100px;
}

nav {
    position: absolute;
    top: 40px;
    bottom: 20px;
    left: 200px;
    right: 200px;
}
main {
    background-color: rgb(131, 201, 201);
    padding: 30px;
    border: 2px solid black;
    height: 500px;
    margin: 130px 10px 20px 10px;
}

section {
    background-color: rgb(228, 177, 207);
    padding: 30px;
    border: 2px solid black;
    height: 700px;
    margin: 10px;
}

footer {
    background-color: rgb(152, 139, 209);
    padding: 20px;
    border: 2px solid black;
    height: 50px;
    margin: 10px;
}

a:link {
    color: brown;
}

a:visited {
    color: rgb(0, 255, 21);
}

a:active {
    color: rgb(248, 107, 5);
}

a:hover {
    background-color: white;
    color: red;
    border-radius: 4px;
}